@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>@ViewBag.Author</p> <br/>
        <p>@ViewBag.Books</p> <br/>
        <p>@ViewBag.Year</p> <br/>
    </div>
</body>
</html>
