@{
    Layout = null;
}
@using Лаб2.Models
@model Лаб2.Models.DrinkData


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>DrinkType: @Html.DropDownListFor(m => m.DrinkType, new SelectList(Enum.GetValues(typeof(DrinkType))), "Select Drink Category")</p>
        <p> Milk: @Html.TextBoxFor(x => x.Milk)</p>
        <p> Sugar: <input type="text" name="Sugar"/></p>
        <input type="submit" value="Ok" />
    }
</body>
</html>
